body {
  background-color: rgb(233, 233, 233);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #2E2E2E;
  color: #FFFFFF;
  z-index: 1;
}
header .logo {
  width: 70px;
}
@media (max-width: 768px) {
  header .logo {
    width: 50px;
  }
}
header .logo img {
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav .nav-links {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  header nav .nav-links {
    flex-direction: column;
    position: fixed;
    top: 75px;
    display: flex;
    background-color: #2E2E2E;
    padding: 20px;
  }
}
header nav .nav-links li {
  list-style: none;
}
header nav .nav-links li a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav .nav-links li a:hover {
  text-decoration: underline;
}
header nav .nav-links li .active {
  text-decoration: underline;
}
header nav .inactive {
  right: -100%;
}
header nav .active {
  right: -50%;
}
header .nav2 {
  display: flex;
  justify-content: end;
}
header .nav2 .social-links {
  display: flex;
  place-items: center;
}
header .nav2 .social-links svg {
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
  color: #FFFFFF;
}
header .nav2 .burger {
  display: none;
}
@media (max-width: 768px) {
  header .nav2 .burger {
    display: flex;
  }
}
header .nav2 .burger svg {
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

.home .hero {
  height: 100vh;
}
.home .hero .wrapper {
  position: absolute;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.home .hero .active {
  opacity: 1;
}

.about {
  padding: 10px;
  color: #FFFFFF;
}
.about h2 {
  color: #000000;
}
.about .container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about .container .wrapper {
  display: flex;
  gap: 5px;
}
.about .container .wrapper .detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 400px;
}
@media (max-width: 768px) {
  .about .container .wrapper .detail {
    grid-template-columns: 1fr;
  }
}
.about .container .wrapper .detail .about-section {
  background-color: #2E2E2E;
  padding: 10px;
  border-radius: 10px;
}
.about .container .wrapper .detail .about-section a {
  color: #FFFFFF;
}

.portfolio {
  padding: 10px;
}
.portfolio .container {
  padding: 10px;
}
.portfolio .container h2 {
  margin-bottom: 10px;
}
.portfolio .container .portfolio-item {
  width: 100%;
  padding: 10px;
  background-color: #2E2E2E;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 10px;
}
.portfolio .container .portfolio-item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.portfolio .container .portfolio-item a {
  text-decoration: none;
  color: #FFFFFF;
}
.portfolio .container .portfolio-item a:hover {
  text-decoration: underline;
}
.portfolio .container .portfolio-item p {
  text-wrap: wrap;
}
.portfolio .container .category-filter {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.portfolio .container .category-filter button {
  width: 150px;
  cursor: pointer;
  padding: 5px;
}
@media (max-width: 768px) {
  .portfolio .container .category-filter button {
    width: 150px;
  }
}
.portfolio .container .portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
@media (max-width: 768px) {
  .portfolio .container .portfolio-list {
    grid-template-columns: 1fr;
  }
}
.portfolio-detail {
  padding: 10px;
}
.portfolio-detail .container {
  background-color: #2E2E2E;
  padding: 10px;
}
.portfolio-detail .container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blog {
  padding: 10px;
  color: #FFFFFF;
}
.blog h2 {
  margin-bottom: 10px;
}
.blog .container {
  padding: 10px;
}
.blog .container h2 {
  color: #000000;
}
.blog .container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog .container ul li {
  background-color: #2E2E2E;
  padding: 10px;
  list-style: none;
  width: 700px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .blog .container ul li {
    width: 100%;
  }
}
.blog .container ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.blog .container ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.blog .container ul li a:hover {
  text-decoration: underline;
}

.blog-detail {
  padding: 10px;
}
.blog-detail .container {
  padding: 10px;
  background-color: #2E2E2E;
  position: relative;
}
.blog-detail .container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  padding: 10px;
  color: #FFFFFF;
}
.contact .container {
  padding: 10px;
}
.contact .container h2 {
  margin-bottom: 10px;
  color: #000000;
}
.contact .container .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .contact .container .wrapper {
    flex-direction: column;
  }
}
.contact .container .wrapper section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #2E2E2E;
  padding: 10px;
  border-radius: 10px;
}
.contact .container .wrapper section form div {
  display: flex;
  place-items: center;
  justify-content: space-between;
}
.contact .container .wrapper section form div input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.contact .container .wrapper section form div textarea {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.contact .container .wrapper section form button {
  padding: 10px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #2E2E2E;
  color: #FFFFFF;
}
footer .footer-content p {
  margin-bottom: 5px;
}
footer .footer-content .social-links a {
  margin: 5px;
  color: #FFFFFF;
}
footer .footer-content .social-links a svg {
  font-size: 25px;
}/*# sourceMappingURL=App.css.map */