@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
    @media (max-width: 768px) {
        @content;
    }
    } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
        @content;
    }
    }
}

@import './styles/colors';

body {
    background-color: rgb(233, 233, 233);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $dark-gray;
    color: $white;
    z-index: 1;

    .logo {
        width: 70px;

        @include respond-to(mobile){
            width: 50px;
        }

        img {
            width: 100%;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 30px;

        .nav-links {
            display: flex;
            gap: 30px;
            width: 100%;
            transition: 0.3s ease-in-out;

            @include respond-to(mobile) {
                flex-direction: column;
                position: fixed;
                top: 35px;
                display: flex;
                background-color: $dark-gray;
                padding: 20px;
            }
            
            @include respond-to(tablet) {
                // flex-direction: column;
            }

            li {
                list-style: none;

            a {
                text-decoration: none;
                color: $white;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
            .active {
                text-decoration: underline;
            }
            }
        }
        .inactive {
            right: -100%;
        }

        .active {
            right: -50%;
        }
    }

    .nav2 {
        display: flex;
        align-items: center;
        justify-content: end;

        .social-links {
            display: flex;
            place-items: center;

            a {
                display: flex;
                align-items: center;
                
            }

            svg {
                font-size: 25px;
                margin: 5px;
                cursor: pointer;
                color: $white;
            }
        }

        .burger {
            display: none;

            @include respond-to(mobile) {
                display: flex;
            }
            
            @include respond-to(tablet) {
                // flex-direction: column;
            }

            svg {
                font-size: 25px;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
}

// Home

.home {
    .hero {
        height: 100vh;

        .wrapper {
            position: absolute;
            width: 100%;
            height: 50%;
            background-size: cover;
            background-position: center;
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        .active {
            opacity: 1;
        }
    }
}

// About

.about {
    padding: 10px;
    color: $white;

    h2 {
        margin-bottom: 10px;
        color: $dark-gray
    }

    .container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        // .profile-pic {
            
        // }
        
        .wrapper {
            display: flex;
            justify-content: center;
            gap: 5px;
            
            .detail {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                width: 80%;

                @include respond-to(mobile){
                    grid-template-columns: 1fr;
                }

                .about-section{
                    background-color: $dark-gray;
                    padding: 10px;
                    border-radius: 10px;

                    a {
                        color: $white
                        
                    }
                }
            }
        }
    }
}

// Portfolio

.portfolio {
    padding: 10px;

    .container {
        padding: 10px;

        h2 {
            margin-bottom: 10px;
            color: $dark-gray
        }

        .portfolio-item {
            width: 100%;
            background-color: $dark-gray;
            text-decoration: none;
            color: $white;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 300px;
            }

            .item-info {
                position: absolute;
                bottom: 0;
                padding: 10px;
                background-color: $dark-gray;

                a {
                    text-decoration: none;
                    color: $white;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
                
                p {
                    text-wrap: wrap;
                }
            }
        }
    
        .category-filter {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
    
            button {
                width: 150px;
                cursor: pointer;
                padding: 5px;

                @include respond-to(mobile) {
                    width: 150px;
                }
                
                @include respond-to(tablet) {
                    // flex-direction: column;
                }

                &:hover {
                    background-color: $dark-gray;
                    color: $white;
                    border: none;
                }
            }
        }

            .active {
                background-color: $dark-gray;
                border: none;
                color: $white;
            }
        }
        
        .portfolio-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 5px;

            @include respond-to(mobile) {
                grid-template-columns: 1fr;
            }
        }
    
    }
}

.portfolio-detail {
    padding: 10px;

    .container {
        background-color: $dark-gray;
        padding: 10px;

        img {
            object-fit: cover;
        }

        .item-detail {
            color: $white;
            top: 0;
        }
    }

}

.blog {
    padding: 10px;
    color: $white;

    .container {
        padding: 10px;

        h2 {
            margin-bottom: 10px;
            color: $dark-gray
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                background-color: $dark-gray;
                padding: 10px;
                list-style: none;
                width: 700px;
                border-radius: 10px;

                @include respond-to(mobile) {
                    width: 100%;
                }
                
                @include respond-to(tablet) {
                    // flex-direction: column;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    border-radius: 10px;
                }

                a {
                    text-decoration: none;
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.blog-detail {
    padding: 10px;
    
    .container {
        padding: 10px;
        background-color: $dark-gray;
        position: relative;

        img {
            object-fit: cover;
        }
    }
}

// Contact

.contact {
    padding: 10px;
    color: $white;

    .container {
        padding: 10px;

        h2 {
            margin-bottom: 10px;
            color: $dark-gray
        }

        .wrapper {
            display: flex;
            gap: 20px;

            @include respond-to(mobile){
                flex-direction: column;
            }

            section {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                background-color: $dark-gray;
                padding: 10px;
                border-radius: 10px;
                width: 300px;

                @include respond-to(mobile){
                width: 100%;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    div {
                        display: flex;
                        flex-direction: column;

                        input {
                            padding: 10px;
                            border-radius: 5px;
                            border: none;
                        }

                        textarea {
                            padding: 10px;
                            border-radius: 5px;
                            border: none;
                            width: 100%;
                        }
                        
                    }

                    button {
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: $dark-gray;
    color: $white;

    .footer-content {

        p {
            margin-bottom: 5px;
        }
        
        .social-links {
            a {
                margin: 5px;
                color: $white;
    
                svg {
                    font-size: 25px;
                }
            }
        }
    }
}
