@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
    @media (max-width: 768px) {
        @content;
    }
    } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
        @content;
    }
    }
}

body {
    background-color: rgb(233, 233, 233);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    nav {
        ul {
            display: flex;
            gap: 30px;

            @include respond-to(mobile) {
                flex-direction: column;
                position: fixed;
                top: 0;
                transform: translateX(-100%);
                display: none;
            }
            
            @include respond-to(tablet) {
                // flex-direction: column;
            }

            li {
                list-style: none;
            }
        }
    }
}

.portfolio {
    padding: 10px;

    a {
        padding: 10px;
        background-color: azure;

        .portfolio-item {
            width: 400px;

            img {
                object-fit: cover;
            }
            p {
                text-wrap: wrap;
            }
        }
    }
    .category-filter {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;

        button {
            width: 150px;
        }
    }
    .portfolio-list {
        display: flex;
        gap: 10px;
        overflow: hidden;
    }

}

.portfolio-detail {
    padding: 10px;

    .container {
        background-color: azure;
        padding: 10px;
        position: relative;


        h2 {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        img {
            object-fit: cover;
        }
    }

}

.blog {
    padding: 10px;

    h2 {

    }

    
    .container {
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                background-color: azure;
                padding: 10px;
                list-style: none;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}

.blog-detail {
    padding: 10px;
    
    .container {
        padding: 10px;
        background-color: azure;
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;

    .footer-content {

        p {
            margin-bottom: 5px;
        }
        
        .social-links {
            a {
                margin: 5px;
    
                svg {
                    font-size: 25px;
                }
            }
        }
    }
}
