@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
    @media (max-width: 768px) {
        @content;
    }
    } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
        @content;
    }
    }
}

body {
    background-color: rgb(233, 233, 233);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    nav {
        ul {
            display: flex;
            gap: 30px;

            @include respond-to(mobile) {
                flex-direction: column;
                position: fixed;
                top: 0;
                transform: translateX(-100%);
                display: none;
            }
            
            @include respond-to(tablet) {
                // flex-direction: column;
            }

            li {
                list-style: none;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
            }
            .active {
                text-decoration: underline;
            }
            }
        }
    }
}

.about {
    padding: 10px;

    .container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .profile-pic {
            
        }
        
        .wrapper {
            display: flex;
            gap: 5px;
            
            .detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                .about-section{
                    background-color: azure;
                    padding: 10px;
                    height: 300px;
                }
            }
        }
    }
}

.portfolio {
    padding: 10px;

    .container {
        padding: 10px;

        h2 {
            margin-bottom: 10px;
        }

            .portfolio-item {
                width: 100%;
            padding: 10px;
            background-color: azure;
            text-decoration: none;
            color: black;
    
                img {
                    object-fit: cover;
                }

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                p {
                    text-wrap: wrap;
                }
            }
    
        .category-filter {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
    
            button {
                width: 150px;
            }
        }
        
        .portfolio-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;
        }
    
    }
}

.portfolio-detail {
    padding: 10px;

    .container {
        background-color: azure;
        padding: 10px;
        position: relative;


        h2 {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        img {
            object-fit: cover;
        }
    }

}

.blog {
    padding: 10px;

    h2 {
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                background-color: azure;
                padding: 10px;
                list-style: none;
                width: 700px;

                img {
                    object-fit: cover;
                }

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.blog-detail {
    padding: 10px;
    
    .container {
        padding: 10px;
        background-color: azure;

        img {
            object-fit: cover;
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;

    .footer-content {

        p {
            margin-bottom: 5px;
        }
        
        .social-links {
            a {
                margin: 5px;
    
                svg {
                    font-size: 25px;
                }
            }
        }
    }
}
