body {
    background-color: rgb(233, 233, 233);
    
}

div {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100vh;

    svg {
        font-size: 300px;
        color: rgb(129, 129, 129);
    }
}
